:root {
  /* Colori */
  --tt-chat-primary-color: #044273;
  --tt-chat-secondary-color: #FEBB2E;
  --tt-chat-bg: #ffffff;
  --tt-chat-user-bg: #e0f7fa;
  --tt-chat-bot-bg: #f5f5f5;
  --tt-chat-user-color: #000000;
  --tt-chat-header-bg: #044273;
  --tt-chat-header-color: #FFFFFF;
  --tt-chat-subheader-color: #FEBB2E;
  --tt-chat-light-shade-100: #e0e0e0;
  
  /* Layout base */
  --tt-chat-spacing: 1rem;
  --tt-chat-border-radius: 0.25rem;
  --tt-chat-transition-duration: 0.15s;
  --tt-chat-font-family: "Plus Jakarta Sans", sans-serif;

  /* Window dimensions */
  --tt-chat-window-width: 400px;
  --tt-chat-window-height: 500px;
  --tt-chat-window-bottom: 100px;
  --tt-chat-window-right: 0;
  --tt-chat-window-margin-right: 15px;
  --tt-chat-window-margin-bottom: 15px;
  --tt-chat-window-z-index: 999;
  
  /* Toggle button */
  --tt-chat-toggle-size: 50px;
  --tt-chat-toggle-border-radius: 50%;
  --tt-chat-toggle-background: var(--tt-chat-primary-color);
  --tt-chat-tooltip-border-color: var(--tt-chat-primary-color);
  --tt-chat-tooltip-background: var(--tt-chat-primary-color);
  --tt-chat-tooltip-color: var(--tt-chat-primary-color);
  
  /* Messages */
  --tt-chat-message-font-size: 16px;
  --tt-chat-message-border-radius: 5px;
  --tt-chat-message-line-height: 1.2;
  
  /* Input */
  --tt-chat-input-font-size: 14px;
  --tt-chat-input-padding: 10px 15px;
  --tt-chat-input-line-height: 1.2;
}